@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('https://github.com/google/fonts/raw/main/apache/roboto/Roboto-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('https://github.com/google/fonts/raw/main/apache/roboto/Roboto-Bold.ttf') format('truetype');
}

body.roboto-regular {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

body.roboto-bold {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}
