@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('https://github.com/google/fonts/raw/main/apache/opensans/OpenSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: url('https://github.com/google/fonts/raw/main/apache/opensans/OpenSans-Bold.ttf') format('truetype');
}

body.opensans-regular {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

body.opensans-bold {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}
